<% include partials/header.ejs %>

<div class="container d-flex justify-content-center">
  <p>What's Happening Today?</p>

  <iframe src="https://calendar.google.com/calendar/embed?src=clubannouncements-ny%40avenues.org&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<% include partials/footer.ejs %>